<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.ruixinglong.suntv.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="net.ruixinglong.suntv.entity.UserEntity">
        <result column="id" jdbcType="INTEGER" property="id" javaType="int" />
        <result column="name" jdbcType="VARCHAR" property="name" javaType="string" />
        <result column="username" jdbcType="VARCHAR" property="username" javaType="string" />
        <result column="password" jdbcType="VARCHAR" property="password" javaType="string" />
        <result column="cellphone" jdbcType="VARCHAR" property="cellphone" javaType="string" />
        <result column="create_time" jdbcType="VARCHAR" property="create_time" javaType="int" />
        <result column="update_time" jdbcType="VARCHAR" property="update_time" javaType="int" />
    </resultMap>

    <select id="index" resultType="net.ruixinglong.suntv.entity.UserEntity">
        select * from user
    </select>

    <select id="view" resultType="net.ruixinglong.suntv.entity.UserEntity">
        select * from `user` WHERE id = #{id}
    </select>

    <insert id="create" parameterType="net.ruixinglong.suntv.entity.UserEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `user` (`name`, `username`, `password`, `cellphone`, `create_time`, `update_time`) VALUES (#{name}, #{username}, #{password}, #{cellphone}, unix_timestamp(now()), 0)
    </insert>

    <update id="update" parameterType="net.ruixinglong.suntv.entity.UserEntity">
        UPDATE `user` SET `username` = #{username}, `name` = #{name}, `password` = #{password}, `update_time` = unix_timestamp(now()) WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="net.ruixinglong.suntv.entity.UserEntity">
        DELETE FROM `user` WHERE id = #{id}
    </delete>
</mapper>